@using EPiServer.Framework.Web.Mvc.Html
@using StarterOptiCms.Models.Pages
@using StarterOptiCms.Models.ViewModels

@model IPageViewModel<SitePageData>
<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=10" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>StarterOptiCms</title>
    <link rel="shortcut icon" href="@Url.Content("~/favicon.ico")" type="image/x-icon" />
    @Html.CanonicalLink()
    @Html.AlternateLinks()
    @Html.RequiredClientResources("Header")
</head>

<body>
    @await Html.RenderEPiServerQuickNavigatorAsync()
    @Html.FullRefreshPropertiesMetaData()
    <div class="container">
        @if (!Model.CurrentPage.HideSiteHeader)
        {
            await Html.RenderPartialAsync("Header", Model);
        }
        @RenderBody()
        @if (!Model.CurrentPage.HideSiteFooter)
        {
            await Html.RenderPartialAsync("Footer", Model);
        }
    </div>
    @Html.RequiredClientResources("Footer")
</body>

</html>